:root {
    --primary: #026E81;
    --secondary: #00ABBD;
    /* tertiary não é um padrão do Bootstrap, mas pode ser adicionado! */
    --tertiary: #72F2EB;
    --success: #0099DD;
    --info: #54B4D3;
    --warning: #FF9933;
    --danger: #E3371E;
    --amarelo50: #FFFDE7;
    --amarelo100: #FFF9C4;
    --amarelo200: #FFF59D;
    --amarelo300: #FFF176;
    --amarelo400: #FFEE58;
    --amarelo500: #FFEB3B;
    --amarelo600: #FDD835;
    --amarelo700: #FBC02D;
    --amarelo800: #F9A825;
    --amarelo900: #F57F17;
    --amareloA1: #FFFF8D;
    --amareloA2: #FFFF00;
    --amareloA4: #FFEA00;
    --amareloA7: #FFD600;
    --white: #ffffff;
    --amber50: #FFF8E1;
    --amber100: #FFECB3;
    --amber200: #FFE082;
    --amberA1: #FFE57F;
    --amberA3: #FFD54F;
}


/* sobrescrevendo classes padrão do Bootstrap */


/* a marcação dá um peso maior a regra, sobrescrevendo regras prévias */

.bg-amberA3,
.btn-amberA3 {
    background-color: var(--amberA3);
}

.bg-white,
.btn-white {
    background-color: var(--white);
}

.bg-amarelo50,
.btn-amarelo50 {
    background-color: var(--amarelo50);
}

.bg-amarelo100,
.btn-amarelo100 {
    background-color: var(--amarelo100);
}

.bg-amarelo200,
.btn-amarelo200 {
    background-color: var(--amarelo200);
}

.bg-amarelo300,
.btn-amarelo300 {
    background-color: var(--amarelo300);
}

.bg-amarelo400,
.btn-amarelo400 {
    background-color: var(--amarelo400);
}

.bg-amarelo500,
.btn-amarelo500 {
    background-color: var(--amarelo500);
}

.bg-amarelo600,
.btn-amarelo600 {
    background-color: var(--amarelo600);
}

.bg-amarelo700,
.btn-amarelo700 {
    background-color: var(--amarelo700);
}

.bg-amarelo800,
.btn-amarelo800 {
    background-color: var(--amarelo800);
}

.bg-amarelo900,
.btn-amarelo900 {
    background-color: var(--amarelo900);
}

.bg-amareloA1,
.btn-amareloA1 {
    background-color: var(--amareloA1);
}

.bg-amareloA2,
.btn-amareloA2 {
    background-color: var(--amareloA2);
}

.bg-amareloA4,
.btn-amareloA4 {
    background-color: var(--amareloA4);
}

.bg-amareloA7,
.btn-amareloA5 {
    background-color: var(--amareloA5);
}

.nav-link {
    color: var(--primary);
}

.nav-link:hover {
    color: var(--warning);
}

.bg-amber50,
.btn-amber50 {
    background-color: var(--amber50);
}

.bg-amber100,
.btn-amber100 {
    background-color: var(--amber100);
}

.bg-amber200,
.btn-amber200 {
    background-color: var(--amber200);
}

.bg-amaberA1,
.btn-amaberA1 {
    background-color: var(--amaberA1);
}