:root {
    --primary: #026E81;
    --secondary: #00ABBD;
    /* tertiary não é um padrão do Bootstrap, mas pode ser adicionado! */
    --tertiary: #72F2EB;
    --success: #0099DD;
    --info: #54B4D3;
    --warning: #FF9933;
    --danger: #E3371E;
    --verde50: #E8F5E9;
    --verde100: #C8E6C9;
    --verde200: #A5D6A7;
    --verde300: #81C784;
    --verde400: #66BB6A;
    --verde500: #4CAF50;
    --verde600: #43A047;
    --verde700: #388E3C;
    --verde800: #2E7D32;
    --verde900: #1B5E20;
    --verdeA1: #B9F6CA;
    --verdeA2: #B9F6CA;
    --verdeA4: #00E676;
    --verdeA7: #00C853;
    --white: #ffffff;
    --verdinho50: #F1F8E9;
    --verdinho100: #DCEDC8;
    --verdinho200: #C5E1A5;
    --verdinhoA1: #CCFF90;
    --verdinhoA4: #76FF03;
}


/* sobrescrevendo classes padrão do Bootstrap */


/* a marcação dá um peso maior a regra, sobrescrevendo regras prévias */

.bg-verdinhoA4,
.btn-verdinhoA4 {
    background-color: var(--verdinhoA4);
}

.bg-white,
.btn-white {
    background-color: var(--white);
}

.bg-verde50,
.btn-verde50 {
    background-color: var(--verde50);
}

.bg-verde100,
.btn-verde100 {
    background-color: var(--verde100);
}

.bg-verde200,
.btn-verde200 {
    background-color: var(--verde200);
}

.bg-verde300,
.btn-verde300 {
    background-color: var(--verde300);
}

.bg-verde400,
.btn-verde400 {
    background-color: var(--verde400);
}

.bg-verde500,
.btn-verde500 {
    background-color: var(--verde500);
}

.bg-verde600,
.btn-verde600 {
    background-color: var(--verde600);
}

.bg-verde700,
.btn-verde700 {
    background-color: var(--verde700);
}

.bg-verde800,
.btn-verde800 {
    background-color: var(--verde800);
}

.bg-verde900,
.btn-verde900 {
    background-color: var(--verde900);
}

.bg-verdeA1,
.btn-verdeA1 {
    background-color: var(--verdeA1);
}

.bg-verdeA2,
.btn-verdeA2 {
    background-color: var(--verdeA2);
}

.bg-verdeA4,
.btn-verdeA4 {
    background-color: var(--verdeA4);
}

.bg-verdeA7,
.btn-verdeA7 {
    background-color: var(--verdeA7);
}

.nav-link {
    color: var(--primary);
}

.nav-link:hover {
    color: var(--warning);
}

.bg-verdinho50,
.btn-verdinho50 {
    background-color: var(--verdinho50);
}

.bg-verdinho100,
.btn-verdinho100 {
    background-color: var(--verdinho100);
}

.bg-verdinho200,
.btn-verdinho200 {
    background-color: var(--verdinho200);
}

.bg-amaberA1,
.btn-amaberA1 {
    background-color: var(--amaberA1);
}