/* ------------------ */


/*   ALTO CONTRASTE   */


/* ------------------ */

.alto-contraste,
.alto-contraste a,
.alto-contraste button,
.alto-contraste footer,
.alto-contraste nav,
.alto-contraste p,
.alto-contraste .branding.docs-branding,
.alto-contraste .docs-sidebar {
    color: #ffffff !important;
    background-color: #000000 !important;
}

.alto-contraste #manuals,
.alto-contraste #manuals p,
.alto-contraste #contribute,
.alto-contraste #contribute p,
.alto-contraste #footer,
.alto-contraste #footer p,
.alto-contraste #developed-by {
    color: #ffffff !important;
    background-color: #111111 !important;
}

.alto-contraste nav {
    border-bottom: 1px solid #ffffff;
}

.alto-contraste .barra-acessibilidade a:hover,
.alto-contraste .barra-acessibilidade a:focus,
.alto-contraste .site-logo .navbar-brand .logo-text,
.alto-contraste .docs-heading,
.alto-contraste .section-heading,
.alto-contraste strong {
    color: #ffffff !important;
}

.alto-contraste footer {
    border-top: 1px solid #ffffff;
}

.alto-contraste nav a {
    border-color: #ffffff;
    margin: 0 2px;
}

.alto-contraste span.badge,
.alto-contraste .menu-principal .navbar-toggler,
.alto-contraste .btn-goto-beluga {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.alto-contraste .iconslist .bg-verde700 {
    background-color: #ffffff !important;
}

.alto-contraste .btn {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 0, 0) !important;
    border: 1px #2E7D32 solid !important;
}

.btn {
    background-color: #1B5E20 !important;
    color: #ffffff!important;
}

.btn:hover {
    background-color: #2E7D32 !important;
    box-shadow: 0 0 0.5em #b7bdb7 !important;
}

.alto-contraste .btn:hover {
    color: rgb(255, 255, 255) !important;
    box-shadow: 0 0 0.5em #43A047 !important;
    background-color: rgb(0, 0, 0) !important;
    border: 1px #2E7D32 solid !important;
}