nav.barra-acessibilidade {
    background-color: #00C853;
    padding: 0.5rem 1rem;
}

nav.barra-acessibilidade a:hover {
    text-decoration: underline;
}

nav.barra-acessibilidade .badge.badge-dark {
    background-color: black;
    color: white;
}

nav.barra-acessibilidade small {
    font-size: 80%;
}

nav.barra-acessibilidade .ml-auto {
    margin-left: auto!important;
}

nav.barra-acessibilidade .btn-a11y {
    box-shadow: none;
}

.alto-contraste .btn {
    text-transform: uppercase!important;
    color: black !important;
    background-color: white !important;
}

.btn {
    text-transform: uppercase;
}

.btn {
    background-color: #2E7D32 !important;
    color: #ffffff!important;
}

.btn:hover {
    background-color: #43A047 !important;
}

.alto-contraste .btn:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
    background-color: white !important;
}