nav.barra-acessibilidade {
    background-color: #00C853;
    padding: 0.5rem 1rem;
}

nav.barra-acessibilidade a:hover {
    text-decoration: underline;
}

nav.barra-acessibilidade .badge.badge-dark {
    background-color: black;
    color: white;
}

nav.barra-acessibilidade small {
    font-size: 80%;
}

nav.barra-acessibilidade .ml-auto {
    margin-left: auto!important;
}

nav.barra-acessibilidade .btn-a11y {
    box-shadow: none;
}

.alto-contraste .btn {
    color: rgb(255, 255, 255) !important;
    border: 2px #ffffff !important;
    background-color: black !important;
}

.btn {
    background-color: #2E7D32 !important;
    color: #ffffff!important;
}

.btn:hover {
    background-color: #43A047 !important;
}

.alto-contraste .btn:hover {
    border: #ffffff !important;
    box-shadow: whitesmoke !important;
    background-color: black !important;
}

.docs-content {
    margin: 0 auto;
}

body {
    padding-top: 160px;
}

.docs-article {
    padding: 0 2rem;
}

.docs-article .docs-section {
    padding: 1rem 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #212529 !important;
}

.base-text2 {
    font-size: 17px !important;
}

.lead-text2 {
    color: #495057 !important;
}

.alto-contraste .branding.docs-branding {
    border-bottom: 1px solid #ffffff;
}

.alto-contraste .h1,
.alto-contraste .h2,
.alto-contraste .h3,
.alto-contraste .h4,
.alto-contraste .h5,
.alto-contraste .h6,
.alto-contraste h1,
.alto-contraste h2,
.alto-contraste h3,
.alto-contraste h4,
.alto-contraste h5,
.alto-contraste h6 {
    color: #ffffff !important;
}

.icon-contraste {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.alto-contraste .social-list li {
    background: transparent;
}